In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_play = pd.read_json('../data/sampled_playlog.json/part-00000-badae413-8a2b-46ea-9ce7-c83aaa3fa0f5-c000.json'
                          ,lines=True)

In [3]:
df_play.head(5)

,date,device,fn,play_time,song_id,song_length,uid
0,2017-03-01,ar,20170301_play.log,139,1967689.0,275.0,154421168.0
1,2017-03-01,ar,20170301_play.log,261,6468891.0,261.0,154422592.0
2,2017-03-01,ar,20170301_play.log,332,20870993.0,332.0,154422592.0
3,2017-03-01,ar,20170301_play.log,86,1691087.0,358.0,154416928.0
4,2017-03-01,ip,20170301_play.log,4,7153193.0,256.0,154421664.0

In [13]:
def play_time(x):
    try:
        x_ = int(x)
    except:
        x_ = np.nan
    return x_

df_play['play_time'] = df_play['play_time'].apply(play_time)

In [8]:
def song_length(x):
    try:
        x_ = int(x)
    except:
        x_ = np.nan
    return x_

df_play['song_length'] = df_play['song_length'].apply(song_length)

array(['139 ', '261 ', '332 ', ..., '0', '0', '191'], dtype=object)